@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSansDisplay-Black.woff2') format("woff2"), url('../fonts/NotoSans/NotoSansDisplay-Black.woff') format("woff")
  font-weight: 900
  font-style: normal


@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSansDisplay-Regular.woff2') format("woff2"), url('../fonts/NotoSans/NotoSansDisplay-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSansDisplay-Medium.woff2') format("woff2"), url('../fonts/NotoSans/NotoSansDisplay-Medium.woff') format("woff")
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSansDisplay-SemiBold.woff2') format("woff2"), url('../fonts/NotoSans/NotoSansDisplay-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'NotoSans'
  src: url('../fonts/NotoSans/NotoSansDisplay-Bold.woff2') format("woff2"), url('../fonts/NotoSans/NotoSansDisplay-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'ProximaNova'
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff2') format("woff2"), url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal


@font-face
  font-family: 'ProximaNova'
  src: url('../fonts/ProximaNova/ProximaNova-Regular.woff2') format("woff2"), url('../fonts/ProximaNova/ProximaNova-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?j967gf')
  src: url('../fonts/icomoon/icomoon.eot?j967gf#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?j967gf') format("truetype"), url('../fonts/icomoon/icomoon.woff?j967gf') format("woff"), url('../fonts/icomoon/icomoon.svg?j967gf#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"]

  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-logout:before
  content: "\e905"
  color: #5d5d5d

.icon-heart:before
  content: "\e900"

.icon-anchor:before
  content: "\e901"
  color: #5e5e5e

.icon-bag:before
  content: "\e902"
  color: #f08400

.icon-cancel:before
  content: "\e903"
  color: #bdbdbd

.icon-cancel2:before
  content: "\e904"
  color: #a8a8a8

.icon-filter:before
  content: "\e906"
  color: #fff

.icon-heart-fill:before
  content: "\e907"
  color: #0dafb9

.icon-helm:before
  content: "\e908"
  color: #5e5e5e

.icon-loupe:before
  content: "\e909"

.icon-question:before
  content: "\e90d"
  color: #f08400

.icon-reaction-1:before
  content: "\e90e"
  color: #ff4838

.icon-reaction-2:before
  content: "\e90f"

.icon-reaction-3:before
  content: "\e910"

.icon-reaction-4:before
  content: "\e911"
  color: #3de26c

.icon-user:before
  content: "\e912"
  color: #5e5e5e

.sprite
  display: inline-block
  position: relative

  &:before
    content: ''
    display: block
    background-image: url(../img/spritesheet.png)
    background-repeat: no-repeat


.sprite-Instagram::before
  width: 142px
  height: 32px
  background-position: -5px -5px

.sprite-Maestro::before
  width: 26px
  height: 18px
  background-position: -157px -5px

.sprite-Visa::before
  width: 40px
  height: 26px
  background-position: -193px -5px

.sprite-button-bg::before
  width: 270px
  height: 50px
  background-position: -5px -47px

.sprite-button-hover::before
  width: 119px
  height: 32px
  background-position: -5px -107px

.sprite-check::before
  width: 10px
  height: 9px
  background-position: -243px -5px

.sprite-checked::before
  width: 20px
  height: 20px
  background-position: -134px -107px

.sprite-compas2::before
  width: 67px
  height: 65px
  background-position: -164px -107px

.sprite-compass::before
  width: 20px
  height: 20px
  background-position: -241px -107px

.sprite-credit-card::before
  width: 50px
  height: 36px
  background-position: -5px -182px

.sprite-heart::before
  width: 20px
  height: 18px
  background-position: -134px -137px

.sprite-heart-fill::before
  width: 20px
  height: 18px
  background-position: -241px -137px

.sprite-hit::before
  width: 50px
  height: 30px
  background-position: -65px -182px

.sprite-lifebuoy::before
  width: 102px
  height: 102px
  background-position: -285px -5px

.sprite-mastercard::before
  width: 27px
  height: 18px
  background-position: -271px -117px

.sprite-new::before
  width: 82px
  height: 30px
  background-position: -308px -117px

.sprite-next::before
  width: 60px
  height: 60px
  background-position: -271px -157px

.sprite-no-checked::before
  width: 20px
  height: 20px
  background-position: -341px -157px

.sprite-prev::before
  width: 60px
  height: 60px
  background-position: -65px -227px

.sprite-question::before
  width: 16px
  height: 16px
  background-position: -371px -157px

.sprite-share::before
  width: 66px
  height: 30px
  background-position: -135px -227px

.sprite-treasure::before
  width: 50px
  height: 50px
  background-position: -211px -183px