@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------




.header
	position: relative
	padding: 22px 0 20px
	z-index: 10

	&-top
		margin-bottom: 10px
		display: flex
		justify-content: space-between

	&.active
		background: #0C0C0C
		border-bottom: 1px solid #363636

		.header-cart
			display: none

		.icon-burger
			position: relative
			background: #0C0C0C

			&::before
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				align-items: center
				justify-content: center
				content: '\e903'
				font-size: 24px
				color: #fff
				font-family: 'icomoon'

	&.header-nav__fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		background: #fff
		padding: 0 15px
		margin: 0 auto
		z-index: 9999
		transform: translate(0 0)
		padding: 22px 0 24px
		background: url(../img/waves-inner.png) repeat-x
		background-size: cover
		background-position: center bottom
		z-index: 999

		.header-top
			display: none

		.main-menu
			li
				vertical-align: middle

				&.logo-header__fixed
					display: inline-block
					margin-right: 50px


	&-bonus
		position: relative
		padding: 0 0 0 25px
		font-size: 12px
		line-height: 16px

		&::before
			content: ''
			position: absolute
			left: 0
			top: -2px
			background-image: url(../img/spritesheet.png)
			background-repeat: no-repeat
			width: 20px
			height: 20px
			background-position: -241px -107px

		span
			display: inline-block
			vertical-align: middle
			color: #5E5E5E

		strong
			display: inline-block
			padding: 0 0 0 5px
			vertical-align: middle
			font-weight: 600

	&-user
		position: relative
		>span
			position: relative
			display: block
			padding: 0 12px 0 0
			font-size: 12px
			line-height: 16px
			cursor: pointer

			&::before
				content: ''
				position: absolute
				right: 0
				top: 6px
				border: 4px solid transparent
				border-top: 5px solid #f08400






	&-delivery
		min-width: 290px

		&__town
			display: flex
			align-items: center

			>span
				padding-right: 6px

		&__free
			font-family: "ProximaNova"
			font-size: 13px
			line-height: 16px
			color: #9C9C9C
			

		.jq-selectbox__select
			font-size: 18px
			font-family: "ProximaNova"
			font-weight: 600
			color: $main

		.jq-selectbox__select-text
			position: relative
			padding: 0 18px 0 0


			&::after
				content: ''
				position: absolute
				right: 0
				top: 9px
				border: 5px solid transparent
				border-top: 6px solid $main

		.jq-selectbox__dropdown 
			top: 20px!important
			z-index: 999
			min-width: 290px
			background: #fff


			ul
				max-height: 145px !important
				padding: 10px 0
				background: #fff
				list-style: none
				border-radius: 15px
				li
					padding: 10px 20px
					font-size: 16px
					line-height: 19px
					font-weight: 500
					transition: all .3s

					&:hover
						background: #f2fcfc


		select:hover, select
			opacity: 0
			visibility: hidden


	&-tel
		display: flex
		flex-direction: column
		font-family: "ProximaNova"

		a
			font-size: 18px
			line-height: 22px
			font-weight: bold
			

		>span
			font-size: 13px
			line-height: 16px
			color: #9C9C9C

	&-btn
		display: flex
		align-items: center

		>a
			display: inline-block
			font-size: 12px
			line-height: 16px
			padding: 5px 15px
			border-radius: 36px
			border: 1px solid #E4E4E4

			&:last-child
				margin-left: 15px

	&-nav
		display: flex
		justify-content: space-between
		align-items: center


			


	&-cart
		position: relative

		&.header-nav__fixed
			position: static
		

		&__wrap
			display: flex
			align-items: center
			padding: 4px 14px
			border-radius: 40px

			&:hover, &:focus
				opacity: 1
				background: #F5F5F5

		&__price
			font-size: 14px
			line-height: 19px
			font-weight: 500

		&__count
			position: relative
			>span
				position: relative
				display: flex
				align-items: center
				justify-content: center
				margin: 10px 10px 0 12px
				width: 23px
				height: 23px
				border-radius: 50%
				background: $blue
				color: #fff
				font-size: 12px
				line-height: 16px
				font-weight: 600
				z-index: 10

			&::before
				content: '\e902'
				position: absolute
				right: 0
				top: -2px
				font-family: "icomoon"
				font-size: 22px
				color: $main
				z-index: 0

		&__modal
			display: none
			position: absolute
			top: 50px
			right: 0
			padding: 10px 5px 105px 15px
			width: 262px
			background: #fff
			border-radius: 6px
			z-index: 10
			box-shadow: 0px 6px 26px rgba(0, 0, 0, 0.22)

			&::before
				content: ''
				position: absolute
				right: 50px
				bottom: 100%
				border-left: 10px solid transparent
				border-right: 10px solid transparent
				border-bottom: 10px solid #fff

			&--bottom
				position: absolute
				left: 15px
				right: 15px
				bottom: 10px

				strong
					font-size: 14px
					line-height: 19px
					font-weight: 600

				.btn-main
					margin-top: 15px
					width: 100%

		&__item
			padding: 12px 5px 12px 0
			border-bottom: 1px solid #F5F5F5
			
			&--wrap
				height: 332px
				overflow-y: scroll

			h5
				position: relative
				padding: 0 20px 0 0
				margin-bottom: 10px
				font-size: 14px
				line-height: 16px
				font-weight: normal

				button
					position: absolute
					right: 0
					top: 0
					width: 15px
					height: 15px
					display: flex
					align-items: center
					justify-content: center
					border: none
					outline: none
					padding: 0
					color: #000
					background-color: transparent

					.icon-cancel
						font-size: 20px
						

						&::before
							color: #000
			&--bottom
				.plus-minus
					width: 77px

					button
						width: 20px
						height: 20px
						font-size: 12px
						line-height: 17px

					input
						font-size: 14px
						line-height: 19px

				>strong
					font-size: 16px
					line-height: 22px

	&-cart
		
		.header-top
			margin: 0

	&-check
		display: flex

		&__item
			position: relative
			padding: 0 0 0 28px
			font-size: 16px
			line-height: 22px
			color: #9C9C9C

			&::before
				content: ''
				position: absolute
				left: 0
				top: 1px
				background-image: url(../img/spritesheet.png)
    			background-repeat: no-repeat
				width: 20px
				height: 20px
				background-position: -341px -157px

			&.active
				color: #000
				&::before
					background-position: -134px -107px

			&:not(:last-child)
				padding: 0 82px 0 28px
				margin-right: 10px
				&:after
					content: ''
					position: absolute
					right: 0
					top: 8px
					width: 72px
					height: 8px
					background: url(../img/cart-item-bg.png)





.your-order.airSticky.airSticky_fixed
	margin-top: 30px








  

		
.main-menu
	list-style: none

	>li
		display: inline-block
		padding: 0 13px

		&.logo-header__fixed
			display: none

		&.main-menu__mobile
			display: none

		&:first-child
			padding-left: 0

		&:last-child
			padding-right: 0

		>a
			display: inline-block
			font-size: 14px
			line-height: 19px

			&.active
				position: relative
				color: $blue

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: -6px
					height: 6px
					width: 100%
					background: url(../img/waves.svg) repeat-x

	



.btn
	display: inline-block
	padding: 8px 25px 8px
	font-size: 14px
	line-height: 19px
	color: #fff
	border-radius: 6px
	font-weight: 600
	border: none
	text-align: center
	background: $main
	outline: none

	&:focus, &:hover
		outline: none
		opacity: 1
		color: #fff

	&-transparent
		padding: 6px 25px 6px
		background-color: transparent
		border: 1px solid $main
		color: $main
	
		&:focus, &:hover
			color: #fff
			text-transform: uppercase
			background: url(../img/button-hover.png) no-repeat center
			background-size: cover


	&-blue
		background: $blue
		color: #fff

		&:focus, &:hover
			color: #fff
			opacity: .8

		&__transparent
			background-color: transparent
			color: $blue
			font-weight: normal
			border: 1px solid $blue

			&:focus, &:hover
				color: #fff
				background-color: $blue

	&-main
		padding: 15px 25px
		width: 270px
		text-transform: uppercase
		color: #fff
		background: url(../img/button-main.png)
		font-weight: bold
		font-size: 14px
		line-height: 19px
		border: none
		outline: none

	&-white
		&__transparent
			min-width: 236px
			background-color: transparent
			color: #fff
			font-weight: normal
			font-size: 12px
			line-height: 16px
			font-weight: normal
			border-radius: 36px
			border: 1px solid #fff

	
.color-yellow
	color: $main





	

.banner
	position: relative
	max-width: 1920px
	margin: 0 auto
	padding: 25px 0 75px
	background: url(../img//banner-bg.jpg) no-repeat
	background-size: cover

	>img
		display: block
		margin: 0 auto

	&-slider
		max-width: 1110px
		margin: 0 auto

		&__item
			position: relative

			img
				display: block
				margin: 0 auto

		.slick-arrow
			width: 60px
			height: 60px

			&::before
				content: ''
				display: block
				width: 60px
				height: 60px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				opacity: 1

		.slick-prev
			left: -75px

			&::before
				background-position: -65px -227px

		.slick-next
			right: -75px
		
			&::before
				background-position: -271px -157px

	&-box

		&__item
			position: relative
		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			flex-direction: column
			padding: 36px
			color: #fff

			p
				margin: 26px 0 36px
				font-size: 20px
				line-height: 34px

			.btn
				padding: 15px 25px
				width: 270px
				text-transform: uppercase
				color: #fff
				background: url(../img/button-main.png)
				font-weight: bold

			
		&__title
			font-size: 42px
			line-height: 52px
			text-transform: uppercase
			font-weight: bold


	&-share
		.banner-box__overlay
			align-items: flex-end
			justify-content: flex-end






.slick-slide
	outline: none

.slick-dots
	bottom: -50px

.slick-dots li
	height: 10px
	width: 10px
	margin: 0 10px

.slick-dots li button
	padding: 0
	width: 10px
	height: 10px

.slick-dots li button:before
	content: ''
	background: transparent
	border: 1px solid #424242
	border-radius: 50%
	width: 10px
	height: 10px
	opacity: 1

.slick-dots li.slick-active button:before
	background: $main
	opacity: 1
	border-color: $main

.slick-dots li.slick-active button:after
	content: ''
	position: absolute
	left: -4px
	top: -4px
	width: 18px
	height: 18px
	border-radius: 50%
	border: 1px solid $main



.filters
	padding: 55px 0 50px
	


	.container
		position: relative

	&-wrap
		display: flex
		padding-right: 60px

	&-item
		padding: 10px
		display: flex
		flex-direction: column
		align-items: center
		min-width: 70px
		margin-right: 50px
		transition: all .3s

		&:hover
			box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12)

		&:last-child
			margin: 0

		&__icon
			height: 30px
			display: flex
			align-items: center
			justify-content: center

		>span
			padding: 3px 0
			font-size: 16px
			line-height: 22px

		&__clear
			padding: 0
			background-color: transparent
			border: none
			outline: none
			font-size: 14px

			.icon-cancel2::before
				transition: all .3s

			&:hover
				.icon-cancel2:before
					color: $red

	&-btn
		position: absolute
		right: 15px
		top: 0
		display: flex
		flex-direction: column
		width: 44px

		button
			display: flex
			align-items: center
			justify-content: center
			outline: none
			padding: 0
			width: 100%
			height: 44px
			border-radius: 5px

		&__search
			margin-bottom: 6px
			border: 1px solid #E4E4E4
			background-color: transparent

		&__filter
			background-color: $blue
			border: none


.status-bar
	position: fixed
	bottom: 0
	left: 0
	right: 0
	height: 57px
	padding: 14px 0 0
	background: url(../img/status-bar-bg.png) no-repeat center
	background-size: cover
	z-index: 999

	&__footer
		.footer-bottom
			padding-bottom: 120px

	&__wrap
		position: relative
		padding-left: 50px
		width: 62%

	&__item
		position: relative

		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			margin: 0 auto
			bottom: -14px
			width: 1px
			height: 53px
			background: $main
		span
			position: relative
			padding: 1px 12px
			border-radius: 2px
			background: #fff
			font-size: 14px
			font-weight: bold
			z-index: 10

		&.active

			&::before
				content: ''
				position: absolute
				
				
				z-index: 11

			span 
				background: $blue
				color: #fff

	&__slider
		position: absolute
		top: -80px
		left: 3.8%

.icon-boat
	display: inline-block
	width: 100px
	height: 103px
	background: url(../img/boat-man.png) no-repeat

	&::after
		content: ''
		position: absolute
		left: 0
		right: 0
		margin: 0 auto
		bottom: -14px
		width: 1px
		height: 53px
		background: $main




.product
	padding-bottom: 40px

	h2
		margin-bottom: 25px

		>span
			display: inline-block
			padding: 0 0 0 10px
			vertical-align: middle
			font-size: 16px
			line-height: 22px

	&-wrap
		display: flex
		flex-wrap: wrap

		[class^="col"]
			background: #fff


	&-item
		margin-bottom: 35px
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06)
		border-radius: 6px

		&__img
			position: relative
			display: flex
			align-items: center
			justify-content: center
			height: 170px

			img


		&__like
			position: absolute
			right: 0
			top: 0
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 44px
			height: 50px
			background: #F5F5F5
			border-radius: 0px 6px
			border: none
			outline: none

			>span
				padding: 5px 0 0
				font-size: 10px

			&.active
				.sprite::before
					background-position: -241px -137px

		&__text
			padding: 0 20px 20px

			h3
				margin-bottom: 10px
				min-height: 48px

		&__info
			margin-bottom: 16px
			display: flex
			justify-content: space-between
			span
				font-size: 12px
				color: #747474

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between

		&__price
			display: flex
			flex-direction: column
			>strong
				font-size: 20px
				line-height: 27px
				font-weight: bold

			>span
				font-size: 12px
				line-height: 16px
				text-decoration-line: line-through

				&+strong
					color: $main
					line-height: 15px

		&__tag
			position: absolute
			left: -7px
			top: 12px
			text-align: center
			padding: 4px 0 0
			color: #fff
			font-size: 12px
			line-height: 16px
			

			&--new
				width: 82px
				height: 30px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				background-position: -308px -117px

			&--share
				width: 66px
				height: 30px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				background-position: -135px -227px

			&--hit
				width: 50px
				height: 30px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				background-position: -65px -182px


.plus-minus
	display: inline-flex
	justify-content: space-around
	align-items: center
	width: 120px
	height: 32px

	button
		width: 32px
		height: 32px
		display: flex
		align-items: center
		justify-content: center
		
		border: 1px solid #BDBDBD
		color: #BDBDBD
		padding: 0
		outline: none
		background-color: transparent
		border-radius: 50%
		font-family: sans-serif
		font-weight: 900
		line-height: 20px
		font-size: 20px

		&:hover
			background: $main
			border-color: $main
			color: #fff

		span
			height: 24px
			


	input
		width: calc(100% - 64px)
		text-align: center
		font-weight: 900
		font-size: 20px
		line-height: 27px
		text-align: center
		outline: none
		background-color: transparent
		border: none


.footer
	margin-top: 70px

	&-wrap
		display: flex
		justify-content: space-between
		padding: 56px 36px 26px
		background: #F2FCFC

	&-menu
		h4
			margin-bottom: 5px

		ul
			list-style: none

			li
				line-height: 28px

				a
					font-size: 14px


	&-info
		font-family: "ProximaNova"

		&__tel
			display: inline-block
			margin-bottom: 24px
			font-size: 40px
			font-weight: bold

		&__mail
			margin-bottom: 24px
			>span
				display: block
				margin-bottom: 6px
				font-size: 14px
				line-height: 17px
				color: #5E5E5E

			>a
				display: inline-block
				font-size: 14px
				line-height: 17px
				font-weight: 600

		&__soc
			>span
				display: block
				margin-bottom: 6px
				font-size: 14px
				line-height: 17px
				color: #5E5E5E

			>a
				display: inline-block

	&-bottom
		display: flex
		justify-content: space-between
		align-items: center
		padding: 23px 36px 50px
		border-top: 1px solid #D4D9E2
		font-family: "ProximaNova"
		background: #F2FCFC


		span, a
			font-size: 14px

		.flex
			span
				display: inline-block
				margin-right: 50px

		.payment-list
			display: flex
			align-items: center
			list-style: none

			li
				margin-left: 10px
				font-size: 14px
				color: #5E5E5E


.inner

	.header
		padding: 22px 0 30px
		background: url(../img/waves-inner.png) repeat-x
		background-size: cover
		background-position: center bottom

		&.header-nav__fixed
			padding: 5px 0 15px

			.header-cart
				padding: 10px 0 5px

		&-cart
			padding: 10px 0 17px

		&.active
			background: #0c0c0c
			border-bottom: 1px solid #363636


.inner-section
	padding: 35px 0 0
	
	h1
		margin-bottom: 40px
				

.delivery

	&-info
		display: flex
		justify-content: space-between
		margin-bottom: 40px

		&__list
			list-style: none

			li
				font-size: 16px
				line-height: 26px

				&:first-child
					color: #5E5E5E

	&-map
		margin-bottom: 35px



.faq

	&-item
		margin-bottom: 18px
		background: #F2FCFC

		&.active
			.faq-header
				&:before
					content: '–'

	&-header
		position: relative
		padding: 20px 50px 20px 20px
		cursor: pointer
		font-size: 16px
		line-height: 22px
		
		border-radius: 6px

		&::before
			content: '+'
			position: absolute
			right: 17px
			top: 15px
			width: 32px
			height: 32px
			display: flex
			align-items: center
			justify-content: center
			font-size: 20px
			color: #fff
			background: $main
			border-radius: 50%



	&-body
		display: none
		padding: 20px
		border: 1px solid #F2FCFC
		border-top: 0

		p
			margin-bottom: 10px
			font-size: 14px
			line-height: 19px

		ul
			padding: 0 0 0 20px
			margin-bottom: 10px

			li
				font-size: 14px
				line-height: 20px

.about

	.col-sm-5
		text-align: right

	p
		margin-bottom: 20px
		line-height: 34px

.icons-list
	display: flex
	margin: 50px 0
	
	&__item
		display: flex
		align-items: center
		margin-right: 60px

		&:last-child
			margin-right: 0

	&__info
		display: flex
		flex-direction: column
		padding: 0 0 0 16px
		position: relative
		top: -5px

		>strong
			font-size: 50px
			line-height: 68px

		>span
			font-size: 14px
			line-height: 16px
			color: #5E5E5E



.contacts

	&-wrap
		display: flex

	&-info
		&__list
			list-style: none

			li
				display: flex
				margin-bottom: 35px
				font-size: 16px
				line-height: 22px

				>span
					width: 110px
					color: #5E5E5E

				>strong
					font-weight: 600

	&-map
		padding: 0 0 0 120px

		h3
			margin-bottom: 15px
			font-size: 26px
			line-height: 35px
			font-weight: 600

		.form-item
			margin-bottom: 12px

		&__count
			margin-bottom: 15px
			font-size: 14px
			font-weight: 600


.requisites
	padding: 20px 0 0
	list-style: none

	h5
		margin-bottom: 12px

	&-list
		list-style: none

		li
			margin-bottom: 10px
			font-size: 16px
			line-height: 22px
			color: #5E5E5E

.shares

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 35px

		&__img
			display: inline-block
			margin-bottom: 12px


			img
				display: block
				margin: 0 auto
				border-radius: 6px

		h3
			margin-bottom: 8px
			line-height: 26px

		p
			font-size: 14px
			line-height: 20px
			color: #5E5E5E



.pagination-list
	list-style: none
	text-align: center

	li
		display: inline-block
		margin: 0 5px

		a
			display: block
			padding: 0 6px
			font-size: 14px
			line-height: 19px
			font-weight: 600
			border-radius: 6px

			&.active
				border: 1px solid $main
				color: $main


.reviews

	&-form
		max-width: 830px
		margin: 0 auto

		.row
			margin-left: -14px
			margin-right: -14px

			[class^="col"]
				padding-left: 14px
				padding-right: 14px


		.form-item
			margin-bottom: 35px

			textarea
				height: 160px
				resize: none

		.btn






.form

	&-field
		width: 100%
		padding: 15px 18px 15px 15px
		border: 1px solid #E4E4E4
		border-radius: 6px
		font-size: 16px
		line-height: 22px
		outline: none

		&.valid
			border-color: #3DE26C

		&.error
			border-color: #FF4838



	&-item

		>label
			display: block
			margin-bottom: 6px
			font-weight: 600
			font-size: 16px
			line-height: 22px

		.jq-selectbox
			width: 260px

		.jq-selectbox__select
			font-size: 16px
			line-height: 22px
			color: #5E5E5E


		.jq-selectbox__select-text
			position: relative
			padding: 15px 18px 15px 15px
			border: 1px solid #E4E4E4
			border-radius: 6px


			&::after
				content: ''
				position: absolute
				right: 15px
				top: 24px
				border: 5px solid transparent
				border-top: 6px solid $main

		.jq-selectbox__dropdown 
			top: 44px!important
			z-index: 999
			min-width: 260px
			background: #fff


			ul
				max-height: 145px !important
				padding: 10px 0
				background: #fff
				list-style: none
				border-radius: 15px
				li
					padding: 10px 20px
					font-size: 16px
					line-height: 19px
					font-weight: 500
					transition: all .3s

					&:hover
						background: #f2fcfc

		&__calendar
			background-image: url(../img/calendar.svg)
			background-repeat: no-repeat
			background-position: 90% center

			input
				background-color: transparent

.radio-item
	input[type='radio']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			padding: 0 0 0 25px
			cursor: pointer
			font-size: 14px
			line-height: 19px

			&::before
				content: ''
				width: 16px
				height: 16px
				border: 1px solid $main
				border-radius: 50%
				position: absolute
				left: 0
				top: 2px
				display: flex
				align-items: center
				justify-content: center
				
		&:checked + label
			background-color: transparent
			&::after
				content: ''
				position: absolute
				left: 4px
				top: 6px
				width: 8px
				height: 8px
				border-radius: 50%
				background: $main

.reviews
	background: url(../img/reviews-bg.png) no-repeat 90% 50%

.reviews-form
	.form-item+h5
		margin-bottom: 16px

.rate
	display: flex
	margin-bottom: 35px

	&-item
		margin-right: 70px
		text-align: center

		i[class^="icon"]
			display: block
			font-size: 32px

		&:last-child
			margin-right: 0

		.radio-item
			padding: 12px 0 0
			input[type='radio']

				+ label
					padding: 24px 0 0

					&::before
						left: 0
						right: 0
						top: 0
						margin: 0 auto

					&::after
						margin: 0 auto
						left: 0
						right: 0
						top: 4px



.promocode-form
	display: flex
	justify-content: space-between
	max-width: 420px
	margin-bottom: 35px

	input
		max-width: 270px

.cart

	&-wrap
		max-width: 920px
		margin: 0 auto

	&-list
		display: table
		width: 100%
		margin-bottom: 35px
		border-collapse: collapse
		list-style: none

		>li
			display: table-row
			border-bottom: 1px solid #E4E4E4

			>div
				display: table-cell
				padding-top: 12px
				padding-bottom: 12px
				vertical-align: middle

		&__img
			width: 100px

		&__info
			padding-left: 12px

			h4
				font-size: 18px
				line-height: 20px
				font-weight: 600

			&--count
				
				span
					display: inline-block
					margin-right: 30px
					font-size: 12px
					color: #747474

					&:last-child
						margin-right: 0

		&__price
			font-size: 20px
			font-weight: bold

		&__clear
			text-align: right
			button
				display: inline-block
				vertical-align: sub
				border: none
				padding: 0
				outline: none
				background-color: transparent

				.icon-cancel
					font-size: 22px


	&-total
		display: flex
		justify-content: flex-end
		margin-bottom: 70px

		&__text
			max-width: 556px
			width: 100%

			p
				font-size: 14px
				line-height: 22px
				color: #5E5E5E

		&__price
			margin-bottom: 5px
			font-size: 28px
			line-height: 38px

			strong
				font-weight: 600






.persons-count
	padding: 25px
	margin-bottom: 45px
	border: 1px solid #E4E4E4
	border-radius: 6px

	&__icon
		position: relative
		padding: 0 24px 0 44px
		font-size: 14px
		font-weight: 600

		&::before
			content: '\e912'
			font-family: "icomoon"
			font-size: 30px
			color: #0DAFB9
			position: absolute
			left: 0
			top: -7px

.additionally
	display: flex
	margin-left: -14px
	margin-right: -14px
	margin-bottom: 45px

	&-item
		display: flex
		flex-direction: column
		align-items: center
		margin-left: 14px
		margin-right: 14px
		width: 162px
		padding: 18px
		border: 1px solid #E4E4E4
		border-radius: 6px

		img
			display: block
			margin: 0 auto 12px
			max-height: 60px

		&__name
			margin-bottom: 12px
			font-size: 18px
			line-height: 20px

		.plus-minus
			margin-bottom: 12px

		&__price
			font-size: 12px
			color: #5E5E5E



.gift
	padding: 20px 20px 0
	margin-bottom: 80px
	border: 1px solid #0DAFB9
	border-radius: 6px

	>h3
		margin-bottom: 18px

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: center
		padding: 0 15px
		margin-left: -40px
		margin-right: -40px

	&-item
		width: 146px
		margin-left: 40px
		margin-right: 40px
		margin-bottom: 35px
		text-align: center

		.radio-item
			input+label
				display: block
				padding: 0
				margin-bottom: 6px

		&__name
			font-size: 14px
			line-height: 18px

		&__price
			font-size: 12px
			line-height: 16px


.page-404
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

	h5
		margin-bottom: 50px
		font-weight: normal

	>img
		display: block
		margin-bottom: 50px



.order
	
	&-item
		margin-bottom: 70px
		padding-bottom: 70px
		max-width: 542px
		border-bottom: 1px solid #E4E4E4

		.btn-main
			margin-bottom: 12px

		&:last-child
			margin-bottom: 35px
			padding-bottom: 0
			border-bottom: 0

		textarea
			height: 120px

		h3
			margin-bottom: 35px
			font-size: 26px
			line-height: 35px
			font-weight: 600

		&__comment
			display: block
			font-size: 14px
			line-height: 19px
			color: #5E5E5E

		.delivery-address
			margin: 50px 0

	&-contact

		.form-item
			width: 48%

	&-thanks
		h1
			margin-bottom: 8px

			&+h6
				font-size: 14px
				line-height: 19px
				font-weight: normal

		&__wrap
			max-width: 920px
			margin: 0 auto

	&-info
		&__list
			position: relative
			margin: 40px 0 70px
			padding: 0 0 0 95px
			list-style: none

			&::before
				content: ''
				position: absolute
				left: 0
				top: 10px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				width: 67px
				height: 65px
				background-position: -164px -107px

			li
				display: flex
				font-size: 16px
				line-height: 32px

				>a
					position: relative
					margin-left: 20px
					color: #F08400
					text-decoration: underline
					font-size: 14px
					line-height: 19px

					&::before
						content: ''
						position: absolute
						left: -20px
						top: 2px
						background-image: url(../img/spritesheet.png)
						background-repeat: no-repeat
						width: 16px
						height: 16px
						background-position: -371px -157px

				span
					width: 270px
					color: #000

				strong
					font-weight: 600

	&-details
		h3
			margin-bottom: 30px
			font-size: 26px
			line-height: 35px
			font-weight: 600

		&__table
			width: 100%
			margin-bottom: 35px
			border-collapse: collapse

			thead
				tr
					td
						padding-bottom: 10px
						font-size: 16px
						line-height: 22px
						font-weight: 600

			tbody
				tr
					td
						padding: 10px 0
						font-size: 14px
						line-height: 16px
						border-bottom: 1px solid #E4E4E4
						vertical-align: middle

						img
							display: inline-block
							vertical-align: middle

						span
							display: inline-block
							padding: 0 0 0 12px
							vertical-align: middle

						strong
							font-weight: 600

		&__list
			display: flex
			align-items: flex-end
			flex-direction: column

			ul
				margin-bottom: 30px
				list-style: none

				li
					display: table-row
					font-size: 16px
					line-height: 32px

					>strong, span
						display: table-cell
						padding: 0 10px

						&:last-child
							padding-right: 0

						&:first-child
							padding-left: 0

					strong
						color: $main

			.btn-main
				padding: 15px


.switch-radio
	display: inline-flex
	padding: 3px
	margin-bottom: 12px
	border: 1px solid $main
	border-radius: 6px

	input[type='radio']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			display: block
			padding: 16px
			cursor: pointer
			font-size: 16px
			line-height: 22px
			font-weight: 600
			background-color: transparent
			color: #616161
			border-radius: 6px
				
		&:checked + label
			color: #fff
			background: $main



.delivery-address
	.form-item .jq-selectbox
		width: 100%

	.form-field
		margin-bottom: 18px

	&__small
		display: flex
		justify-content: space-between

		.form-field
			width: 48%

		.form-item
			width: 48%
			.form-field
				width: 100%



.switch
	position: relative
	display: inline-block
	width: 30px
	height: 16px

	&-box
		display: flex
		align-items: center

	&-label
		display: inline-block
		padding: 0 0 0 8px
		font-size: 14px
		line-height: 19px

	input
		opacity: 0
		width: 0
		height: 0

		&:checked + .switch-toggler
			background-color: #0DAFB9

		&:checked + .switch-toggler:before
			transform: translateX(12px)
  

	&-toggler
		position: absolute
		cursor: pointer
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #9C9C9C
		-webkit-transition: .4s
		transition: .4s
		border-radius: 50px

		&:before
			position: absolute
			content: ""
			height: 12px
			width: 12px
			left: 3px
			bottom: 2px
			border-radius: 50%
			background-color: white
			-webkit-transition: .4s
			transition: .4s


.delivery-time
	margin-bottom: 50px

	&__wrap
		display: flex
		justify-content: space-between

	&__select
		display: flex
		justify-content: space-between
		width: 240px
		.form-item

			.jq-selectbox
				width: 110px

			.jq-selectbox__dropdown
				min-width: 110px


.payment-method

	h6
		margin-bottom: 35px
		font-size: 14px
		line-height: 19px
		font-weight: 600
		color: #9C9C9C

	&__wrap
		display: flex
		flex-wrap: wrap

	&__item
		width: 50%
		margin-bottom: 20px

		.radio-item
			margin-bottom: 12px

			&+*
				margin-left: 28px

		.payment-list
			display: flex
			list-style: none

			li
				display: inline-flex
				align-items: center
				justify-content: center
				width: 50px
				height: 32px
				margin-right: 15px
				border-radius: 6px
				background: #F9F9F9

				&:last-child
					margin-right: 0

				>a
					display: block
					line-height: 12px

		.form-field
			max-width: 148px
			padding: 5px 10px 5px 10px

.order-confirmation

	&__code
		max-width: 245px

		.form-field
			width: 140px

		>a
			font-size: 14px
			color: $main
			border-bottom: 1px solid

.personal-agree
	font-size: 12px
	line-height: 18px
	color: #9C9C9C

	a
		color: #000
		text-decoration: underline



.your-order
	position: relative
	

	&::before
		content: ''
		position: absolute
		top: -40px
		right: 0
		width: 114px
		height: 111px
		background: url(../img/boat.png) no-repeat
		z-index: 0
	h3
		margin-bottom: 25px
		font-size: 26px
		line-height: 35px
		font-weight: 600

	&__table
		position: relative
		width: 100%
		border-collapse: collapse
		background-size: cover
		box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.12)
		border-radius: 6px
		z-index: 10
		background: #fff

		tr
			td
				padding: 18px 10px
				font-size: 14px
				line-height: 16px
				border-bottom: 1px solid #F5F5F5

				&:last-child
					text-align: right

				strong
					font-weight: 600

			&:first-child
				td
					padding-top: 36px

			&:last-child
				td
					padding-bottom: 36px
					font-size: 22px
					font-weight: 600
					text-transform: uppercase
					color: #000

					strong
						color: #0DAFB9


.profile
	padding: 0 0 90px
	&-bg
		background: url(../img/prifile-bg.jpg)

		&+.footer
			margin-top: 0
			background: url(../img/prifile-bg.jpg)

	&-wrap
		display: flex

	&-nav
		width: 284px
		list-style: none

		&.header-user__menu
			position: absolute
			top: 25px
			width: 190px
			right: 0
			background: #fff
			border-radius: 6px
			box-shadow: 0 6px 26px rgba(0,0,0,.22)
			z-index: 99

			&::before
				content: ''
				position: absolute
				right: 50px
				bottom: 100%
				border-left: 6px solid transparent
				border-right: 6px solid transparent
				border-bottom: 6px solid #fff


			li

				a
					padding: 12px 10px  12px 52px
					font-size: 14px
					line-height: 19px
					border-radius: 6px

					&:hover
						background: #f2fcfc
						color: #0dafb9

					&.profile-nav__icon::before
						font-size: 16px
						left: 24px
						top: 13px

					&.profile-nav__icon.profile-nav__history::before
						font-size: 20px

		&__icon
			position: relative
			display: block
			padding: 15px 15px 15px 84px
			border-radius: 50px 6px 6px 50px
			font-size: 18px
			line-height: 25px

			&::before
				content: ''
				position: absolute
				left: 35px
				top: 15px
				font-family: "icomoon"
				font-size: 30px
				color: #5E5E5E


			&.active
				color: #0DAFB9
				background: #F2FCFC
				

				&::before
					color: #0DAFB9

		&__profile
			&::before
				content: '\e912'


		&__bonus
			&::before
				content: '\e901'

		&__history
			&::before
				content: '\e908'

		&__logout
			&::before
				content: '\e905'

	&-content
		width: calc(100% - 284px)
		background: #fff

	&-item
		display: none
		padding: 56px
		box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12)
		border-radius: 6px

		&.active
			display: block

		&__body

			h3
				margin-bottom: 35px
				font-size: 22px
				line-height: 30px
				font-weight: normal



	&-mobile__btn
		display: none

.user-data
	position: relative
	max-width: 556px

	&::after
		content: ''
		width: 226px
		height: 243px
		position: absolute
		right: -324px
		bottom: -110px
		background: url(../img/anchor.png)


	&__row
		margin-bottom: 35px

		.switch-box
			margin-top: 12px

	&__address
		margin: 50px 0 0

	&__form
		.btn-main
			margin-top: 50px


.user-bonus

	&__top
		position: relative
		padding: 0 0 0 70px
		margin-bottom: 25px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			background-image: url(../img/spritesheet.png)
			background-repeat: no-repeat
			width: 50px
			height: 50px
			background-position: -211px -183px

		span
			display: block
			font-size: 14px
			line-height: 24px

	&__table
		width: 100%
		margin-bottom: 55px
		border-collapse: collapse

		thead
			tr
				td
					padding: 18px 10px
					font-size: 14px
					line-height: 18px
					font-weight: bold
					color: #fff
					background: #0DAFB9


					&:last-child
						text-align: right
						border-radius: 0 6px 6px 0
					&:first-child
						border-radius: 6px 0 0 6px

		tbody
			tr
				td
					padding: 18px 10px
					font-size: 14px
					line-height: 18px

					&:last-child
						text-align: right
						border-radius: 0 6px 6px 0
					&:first-child
						border-radius: 6px 0 0 6px

				&:nth-child(even)
					background: #F5F5F5

	&__info
		
		h3
			margin-bottom: 35px
			font-weight: 600
			font-size: 26px
			line-height: 35px

		h4
			margin-bottom: 12px
			font-size: 22px
			line-height: 30px
			font-weight: normal

		p
			margin-bottom: 12px
			font-size: 15px
			line-height: 24px




	&__ruble
		position: relative
		display: block
		padding: 0 0 0 30px
		font-size: 15px
		line-height: 24px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			background-image: url(../img/spritesheet.png)
			background-repeat: no-repeat
			width: 20px
			height: 20px
			background-position: -241px -107px



.color-green
	color: #3DE26C

.color-red
	color: #FF4838

.bill
	position: relative
	margin-bottom: 50px
	border: 1px solid #E4E4E4
	border-radius: 6px

	&-header
		padding: 12px 11px
		font-size: 16px
		line-height: 18px
		background: #F5F5F5
		border-radius: 6px 6px 0px 0px

	&-wrap
		padding: 0 36px 48px

		[class^='col']
			position: static

	&-item
		display: flex
		list-style: none
		padding: 20px 0 7px
		border-bottom: 1px solid #E4E4E4

		li
			&:last-child
				padding-left: 10px

		h5
			margin-bottom: 7px
			font-size: 14px
			line-height: 16px
			font-weight: 500

		&__hidden
			display: none

			&.active
				display: flex

			&--show
				position: absolute
				left: 0
				bottom: 0
				width: 56%
				padding: 12px
				font-size: 16px
				line-height: 18px
				background: #F5F5F5
				border-radius: 0px 0px 0px 6px

				span
					position: relative
					display: inline-block
					padding: 0 15px 0 0

					&::before
						content: ''
						position: absolute
						right: 0
						top: 8px
						border: 5px solid transparent
						border-top: 6px solid #5E5E5E

				&.active
					span:before
						border-top: 0
						border-bottom: 6px solid #5E5E5E


		&__info
			display: flex

			span
				padding-right: 30px
				margin-bottom: 7px
				font-size: 12px
				line-height: 16px
				color: #747474

				&:last-child
					padding-right: 0

			&__price
				display: flex

				strong
					font-size: 20px
					line-height: 27

					&.color-yellow
						padding-right: 20px
						span
							font-weight: normal
							font-size: 16px
							line-height: 22px

	&-total__list
		margin-top: 36px
		margin-bottom: 15px
		list-style: none

		li
			display: flex
			font-size: 14px
			line-height: 24px

			&.bill-total__list--total
				margin-top: 16px
				font-size: 16px
				line-height: 18px
				font-weight: bold

				.color-grey
					padding-left: 10px

					span
						font-size: 14px
						line-height: 18px
						color: #5E5E5E
						font-weight: normal

			span
				&:first-child
					width: 155px
					color: #9C9C9C

				&:last-child
					width: calc(100% - 155px)
					text-align: right

		
	&-bottom
		display: flex
		justify-content: space-between
		align-items: flex-end		


.color-grey
	color: #5E5E5E






















.burger-menu
	display: none
	padding: 0
	margin-left: 30px
	border: none
	outline: none
	background-color: transparent

	&:hover, &:focus
		opacity: 1

.icon-burger
	display: inline-block
	width: 20px
	height: 20px
	background: url(../img/menu-gamburger.svg)


.modal
	display: none
	padding: 36px
	background: #fff
	max-width: 330px
	width: 100%
	border-radius: 6px

	&-body
		padding: 0

	&-header
		padding: 10px 0 0
		margin-bottom: 22px
		font-size: 16px
		line-height: 19px
		font-weight: 500
		text-align: center

	.btn-main
		width: 100%

	.form-item
		margin-bottom: 25px

	&-form
		&__bottom
			margin-top: 18px
			display: flex
			justify-content: space-between

		&__link
			font-size: 14px
			line-height: 19px
			color: $main
			text-decoration: underline

	*::-webkit-input-placeholder 
		color: #5E5E5E

	*:-moz-placeholder 
		color: #5E5E5E


	*::-moz-placeholder 
		color: #5E5E5E


	*:-ms-input-placeholder 
		color: #5E5E5E


	&-gift
		max-width: 970px

		.gift
			margin-bottom: 0

.check-item
	input[type='checkbox']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			padding: 0 0 0 25px
			cursor: pointer
			font-size: 12px
			line-height: 16px
			color: #9C9C9C

			>a
				color: #5E5E5E
				text-decoration: underline

			&::before
				content: ''
				width: 16px
				height: 16px
				background: $main
				position: absolute
				left: 0
				top: 2px
				display: flex
				align-items: center
				justify-content: center
				border-radius: 2px
				
		&:checked + label
			background-color: transparent
			&::after
				content: ''
				position: absolute
				left: 3px
				top: 6px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				width: 10px
				height: 9px
				background-position: -243px -5px

.personal-data
	margin-top: 18px

























@media only screen and (max-width: 1270px)
	.banner-slider
		padding: 0 80px

	.banner-slider .slick-prev
		left: 5px

	.banner-slider .slick-next
		right: 5px

	.slick-dots
		left: 0
		right: 0

	.user-data::after
		display: none



@media only screen and (max-width: 1199px)

	.filters
		padding: 30px 0 30px
		
		&-wrap
			flex-wrap: wrap

		&-item
			margin-right: 20px

	.main-menu>li 
		padding: 0 11px

	.header-top
		margin-bottom: 20px

	.banner-box__title
		font-size: 32px
		line-height: 42px

	.banner-box__overlay p 
		margin: 20px 0 30px
		font-size: 16px
		line-height: 24px


	.footer-info__tel
		font-size: 26px

	.your-order__table tr td
		padding: 14px 10px


	.your-order__table tr td:first-child
		width: 50%


	.bill-total__list

	.bill-wrap 
		padding: 0 36px 15px

	.bill-item__hidden--show
		bottom: -55px
		width: 100%
		border-radius: 6px

	.bill-total__list
		margin-top: 65px


	.bill-wrap [class^=col]
		position: relative


	.header.header-nav__fixed .main-menu li.logo-header__fixed
		margin-right: 0
		
	.main-menu>li
		padding: 0 8px










	







@media only screen and (max-width: 991px)
	.main-menu, .header-delivery, .header-tel, .header-btn
		display: none

	.header, .inner .header
		padding: 10px 0
		>.container
			display: flex
			align-items: center
			justify-content: space-between

			&::before, &::after
				display: none

		&-top
			margin-bottom: 0

	.burger-menu
		display: inline-block
		line-height: 0

	a.logo
		width: 45px
		height: 33px
		background: url(../img/logo-mobile.png)
		img
			display: none



	.main-menu
		position: absolute
		top: 54px
		left: 0
		right: 0
		padding: 0 15px 20px
		background: #0C0C0C
		z-index: 999

		>li
			display: block
			padding: 0
			margin-bottom: 10px

			&.main-menu__mobile
				display: block
				padding: 10px 0 10px 30px
				margin-bottom: 0

			&.main-menu__mobile--last
				padding: 20px 0 0

					

			>a
				display: block
				font-weight: 500
				padding: 0 30px
				font-size: 18px
				line-height: 28px
				color: #fff

				&.active
					color: #fff

					&::before
						display: none

				&.btn-white__transparent
					display: block
					margin: 0 auto
					max-width: 236px
					font-weight: normal
					font-size: 12px

		
		&__mobile
			display: block

			&--last
				padding: 20px 0 0
				border-top: 1px solid #363636

	.header-delivery__mobile
		position: relative
		display: flex
		flex-direction: column
		padding: 10px 0 10px 30px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 10px
			width: 17px
			height: 24px
			background: url(../img/place-ic.svg)

		.header-delivery__town
			font-size: 18px
			line-height: 22px
			color: $main

		.header-delivery__change
			font-size: 13px
			line-height: 16px
			color: #9c9c9c


	.header-tel__mobile
		position: relative
		display: flex
		padding: 0 0 20px 30px
		border-bottom: 1px solid #363636

		&::before
			content: ''
			position: absolute
			left: 0
			top: 4px
			width: 14px
			height: 24px
			background: url(../img/phone-ic.svg)

		a
			color: #fff

	.banner-box__title 
		font-size: 20px
		line-height: 26px


	.banner-box__overlay p
		font-size: 14px
		line-height: 18px

	.footer-menu h4
		font-size: 18px

	.footer-info__tel
		font-size: 20px

	.inner-section
		padding: 20px 0 0


		h1
			margin-bottom: 20px
			font-size: 28px
			line-height: 36px


	.delivery-info
		display: block
		
		&__list
			margin-bottom: 20px

	.jq-selectbox 
		z-index: 9

	.inner
		.header-cart
			.container
				display: block


	.additionally
		flex-wrap: wrap
		justify-content: center

		&-item
			margin-bottom: 30px

	.gift
		margin-bottom: 30px
		padding-left: 10px
		padding-right: 10px

		h3
			text-align: center

	.gift-wrap
		margin-left: 0
		margin-right: 0


	.gift-item 
		margin-left: 10px
		margin-right: 10px


	.order-wrap
		display: flex
		flex-direction: column-reverse

	.your-order
		margin-bottom: 30px

	.profile-nav
		display: none

	.profile-nav__logout
		&::after
			display: none

	.profile-content
		width: 100%

	.profile-mobile__btn
		display: block
		margin-bottom: 10px
		background: $main
		color: #fff
		border-radius: 6px

		&::before
			color: #fff

		&:hover, &:focus
			color: #fff
			opacity: 1

		&::after
			content: ''
			position: absolute
			right: 15px
			top: 26px
			border: 5px solid transparent
			border-top: 6px solid #fff

		


	.profile-item
		display: block
		padding: 0
		box-shadow: none

		&.active-m
			.profile-mobile__btn
				&::after
					border-top: 0
					border-bottom: 6px solid #fff

	.profile-item__body
		display: none

	.profile
		padding-bottom: 30px


	.profile-bg+.footer
		background: #f2fcfc

	.profile-item__body
		padding: 15px 0 35px

	.profile-item__body h3, .user-data__row
		margin-bottom: 15px

	.user-data__row .switch-box
		margin: 12px 0 25px

	.user-data__address 
		margin: 30px 0 0

	.user-data__form .btn-main 
		margin-top: 20px
		font-size: 12px
		width: auto
		padding: 10px 20px


	.header-bonus
		display: none

	.header-user
		display: none














































@media only screen and (max-width: 768px)
		
	.inner 
		.header
			padding: 0

			.container
				height: 56px

		.main-menu
			top: 57px

	.banner
		padding: 25px 0 30px

	.banner-slider
		padding: 0

	.slick-dots
		bottom: -25px

	.product-wrap
		>[class^="col"]
			width: 50%
			background: #fff

	.status-bar
		background: url(../img/status-bar-bg-mobile.png) repeat-x
		background-size: 100% 100%

	.status-bar__item.active::before
		display: none

	.status-bar__item
		&:after
			height: 64px
		span
			position: relative
			top: -10px
			display: inline-block
			font-size: 10px
			transform: rotate(90deg)



	.footer-wrap
		display: block

	.footer-bottom
		display: block
		padding: 23px 15px 20px

		.flex
			display: block

	.banner-box
		[class^="col"]
			text-align: center
		&__item
			display: inline-block
			text-align: left
			margin-bottom: 30px

	.status-bar
		.btn
			padding: 8px 15px 8px
			font-size: 10px
			line-height: 14px

	.footer
		background: #f2fcfc
		margin-top: 30px
		&-wrap
			padding: 25px 0 25px

		&-menu
			
			h4
				position: relative
				padding: 10px 0
				margin: 0
				font-size: 16px
				line-height: 22px
				font-weight: 500
				border-top: 1px solid #D4D9E2

				&::after
					content: ''
					position: absolute
					right: 0
					top: 18px
					border: 5px solid transparent
					border-top: 6px solid #5E5E5E

				&.active
					color: #0DAFB9

					&::after
						border-top: 0
						border-bottom: 6px solid #0DAFB9

			ul
				display: none

				li
					a
						font-size: 12px
						padding-left: 10px

		&-info
			padding: 10px 0 0
			border-top: 1px solid #D4D9E2

			&__mail
				margin-bottom: 15px

	.footer-bottom
		.flex
			span
				display: block
				margin: 0 0 10px
			a
				display: inline-block


		.payment-list
			li
				&:first-child
					margin-left: 0

	.banner-box__overlay
		padding: 20px

		p
			margin: 15px 0
		
		.btn
			width: auto

	.banner-box__title
		font-size: 16px
		line-height: 18px

		p
			margin: 10px 0 20px


	.about 
		p 
			margin-bottom: 15px
			line-height: 24px
			font-size: 16px

		[class^="col"]
			img
				display: block
				margin: 0 auto

	.icons-list
		margin: 30px 0
		flex-direction: column
		align-items: center

		&__item
			margin: 0 0 30px
			max-width: 290px

			&:last-child
				margin-bottom: 0


	.contacts-wrap
		display: block

	.contacts-map 
		padding: 30px 0 0

	.contacts-info__list li
		margin-bottom: 10px
		font-size: 12px
		line-height: 18px

	
	.rate-item
		margin-right: 40px

	header.header.header-cart
		background: transparent
		padding: 10px 0

	.header-cart
		background: transparent
		.header-top
			flex-direction: column

	
	.header-check__item
		font-size: 14px

	.header-check__item:not(:last-child)
		padding: 0 0 0 28px
		margin: 0
		font-size: 14px
		&:after
			content: '→'
			position: static
			display: inline-block
			margin: 0 10px
			width: auto
			height: auto
			background: transparent


	.cart-list>li>div.cart-list__img
		display: none


	.cart-list__info h4
		font-size: 14px
		line-height: 16px


	.plus-minus
		width: 95px

		input
			font-size: 18px

	.cart-list__price
		font-size: 16px

	.cart-list__info
		width: 58%
		padding-right: 10px

	.cart-total__price
		flex-direction: column

	.cart-total
		margin-bottom: 30px

	.cart-total__text
		max-width: none


	.delivery-address .form-field
		margin-bottom: 15px

	.form-item 
		margin: 0 0 10px

	.order-item
		margin-bottom: 30px
		padding-bottom: 30px

	.switch-radio input[type=radio]+label
		font-size: 12px
		line-height: 16px

	.delivery-time__wrap
		flex-direction: column

	.order-item__comment
		margin-bottom: 10px

	.delivery-time
		margin-bottom: 30px

	.payment-method__item
		width: 100%

	.order-item h3
		text-align: center


	.order-info__list
		margin: 30px 0 30px
		padding: 0

		&::before
			display: none

	.order-details__table thead tr td
		padding-bottom: 0
		font-size: 14px

	.order-details__table tbody tr td
		font-size: 14px

	.order-details__table tbody tr td, .order-details__table thead tr td
		&:first-child
			width: 50%

	.order-details__table tbody tr td img
		display: block


	.order-info__list li
		font-size: 12px
		line-height: 20px
		margin-bottom: 10px

	.order-info__list li span
		width: 190px



	.user-bonus__top span 
		font-size: 13px
		line-height: 18px


	.user-bonus__top::before
		top: -7px

	.user-bonus__table thead tr td, .user-bonus__table tbody tr td
		padding: 10px 10px
		font-size: 12px
		line-height: 16px


	.user-bonus__table
		margin-bottom: 30px

	.bill
		margin-bottom: 30px

	.bill-wrap
		display: none
		margin-bottom: 10px
		padding: 0 5px 15px

	.bill-item
		h5
			font-size: 12px

	.bill-item__info span
		padding-right: 10px

	.bill-header
		position: relative
		padding: 12px 26px 12px 11px
		font-size: 12px
		line-height: 18px

		&::after
			content: ''
			position: absolute
			right: 15px
			top: 18px
			border: 5px solid transparent
			border-top: 6px solid #000

		&.active
			&::after
				border-top: 0
				border-bottom: 6px solid #000

	.bill-item__hidden--show
		width: auto
		left: 10px
		right: 10px


	.bill-item__hidden--show
		&:hover, &:focus
			opacity: 1
		span
			font-size: 14px
			padding: 0 20px 0 0

			&::before
				top: 7px

	.bill-total__list
		padding: 0 10px

	.bill-bottom
		img
			display: none






















	




@media only screen and (max-width: 500px)
	.product-wrap>[class^=col]
		width: 100%

	.rate
		flex-wrap: wrap
		&-item
			width: 50%
			margin: 0 auto 20px
			text-align: center

		&+.btn-main
			display: block
			margin: 0 auto



	.header-check
		display: block
		margin: 10px 0 0

		&__item
			display: inline-block
			margin: 0 0 3px

	.inner .header-cart .container
		height: auto

	.header-check__item:not(:last-child)
		margin: 0 0 3px

	.promocode-form
		flex-direction: column

		input
			max-width: none
			margin-bottom: 10px

		.btn
			height: 54px

	.cart-list__item
		position: relative

	.cart-list>li
		display: block

	.cart-list>li>div
		display: block

	.cart-list__info
		width: auto

	.cart-list>li>div.cart-list__img
		width: auto
		padding: 0
		display: block
		text-align: center

	.cart-list>li>div
		padding-top: 5px
		padding-bottom: 5px

	.cart-list__btn
		text-align: center

	.cart-list__price
		text-align: center

	.cart-list__clear
		position: absolute
		top: 0
		right: 0

	.persons-count
		flex-direction: column

		&__icon
			margin-bottom: 10px

	.cart-bottom
		flex-direction: column-reverse

		.btn-main
			margin-bottom: 20px

	.additionally
		margin-bottom: 0

	.additionally-item
		width: 130px

	.additionally-item__name
		font-size: 14px

	.gift-wrap
		padding: 0

	.gift-item
		margin-left: 5px
		margin-right: 5px
		width: 120px

	.cart-total__price 
		margin-bottom: 5px
		font-size: 22px
		line-height: 32px

	
	.your-order::before
		display: none

	.order-contact
		flex-direction: column

		.form-item
			width: 100%

	.order-info__list li
		display: block

		span
			display: block


	.order-details__table thead tr td
		padding: 0 5px
		font-size: 10px
		line-height: 12px

	.order-details__table tbody tr td span
		font-size: 10px
		line-height: 12px

	.order-details__list
		align-items: flex-start